@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap");

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  font-family: "Figtree", sans-serif, "Tahoma";
}

.container {
  text-align: center;
}

.game-name {
  margin: 0px;
  margin-top: 30px;
}

.current-player {
  margin: 15px 0px;
}

.board {
  margin: 0 auto;
  max-width: 580px;
  display: grid;
  grid-template-columns: repeat(3, 130px);
  grid-template-rows: repeat(3, 130px);
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 20px;
}

.block {
  border: 1.5px solid black;
}

.flip-card-inner {
  width: 98%;
  height: 98%;
  font-size: 100px;
  font-family: "Acme", sans-serif, "Tahoma";
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: rotateY(180deg);
}

.flip-blue {
  background-color: rgb(96, 143, 184);
  transform: rotateY(180deg);
}
.flip-red {
  background-color: rgb(247, 99, 73);
  transform: rotateY(180deg);
}

/* .empty-block:hover {
  box-shadow: 0px 7px 0px 0px gold;
  transform: scaleX(1);
  cursor: pointer;
} */

.empty-block {
  display: inline-block;
  position: relative;
}

.empty-block:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.empty-block:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.restart-btn {
  margin-right: 12px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 3px;
  transition-duration: 0.2s;
  cursor: pointer;
  padding: 3px 9px;
  font-size: 16px;
}

.restart-btn:hover {
  background-color: black;
  color: white;
}

.homepage-btn {
  text-decoration: none;
  background-color: #7ed068;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px 8px;
}

.homepage-btn:hover {
  background-color: #50af36;
}

@media screen and (max-width: 600px) {
  .board {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: repeat(3, 110px);
    padding-top: 0;
    padding-bottom: 0;
  }

  .game-name {
    font-size: 14px;
  }

  span {
    font-size: 10px;
  }

  .current-player {
    margin-top: 5px;
    margin-bottom: 7px;
    font-size: 10px;
  }

  .announce-results {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .restart-btn {
    font-size: 12px;
  }

  .homepage-btn {
    font-size: 12px;
  }

  .endgame {
    font-size: 9px;
    margin-top: 5px;
    margin-bottom: 7px;
  }

  .results-count {
    font-size: 10px;
  }

  button {
    font-size: 12px;
  }
}
