@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Nixie One", cursive;
}

.container {
  text-align: center;
}

.game {
  font-weight: bolder;
}

.choose-mode {
  margin-bottom: 50px;
  margin-top: 30px;
}

.red {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  text-decoration: none;
}

.red::after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.red:hover::after {
  top: 0px;
  left: 0px;
}

.blue {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  text-decoration: none;
}

.blue::after {
  content: "";
  background-color: #c47dcd;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.blue:hover::after {
  top: 0px;
  left: 0px;
}
